@import 'default'
@import 'prism/themes/prism-okaidia.css'

@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: url("../static/bangers.eot");
  src: local('Bangers'),
       local('Bangers-Regular'),
       url("../static/bangers.woff") format('woff'),
       url("../static/bangers.woff2") format('woff2'),
       url("../static/bangers.ttf") format('truetype'),
       url("../static/bangers.eot") format('eot');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab'),
       local('JosefinSlab'),
       url("../static/josefin-slab.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}      

@font-face {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 400;
  src: local('Magra'),
       url("../static/magra-bold.ttf") format('truetype');
}      

body {
  font-family: "Magra", sans-serif;
}

h2 {
  font-size: 84pt;
  line-height: 85pt;
}

h3 {

}

strong {
  color: #DE2D64;
}

article {
  background-size: cover;
  background-position: center;
  background-color: #fff;
  transition: none !important;

  &.roses {
    background-image: url("../static/roses.jpg");
  }

  &.cogs {
    background-image: url("../static/cogs.jpg");
  }
  
  &.engine {
    background-image: url("../static/engine.jpg");
  }

  &.cat {
    background-image: url("../static/cat.jpg");
  }

  &.coding {
    background-image: url("../static/coding.jpg");
  }

  &.conflict {
    background-image: url("../static/conflict.jpg");
  }

  &.isolation {
    background-image: url("../static/isolation.jpg");
  }

  &.white {
    background-color: #fff;
  }

  &.pink {
    background-color: #DE2D64;
  }

  &.red {
    background-color: #EF2040;
  }
}

.bespoke-slide {
  background-color: rgba(255, 255, 255, 0);  
  transition: none;
  padding: 20px;

  aside {
      display: none;
  }
}

section {
  &.title {
    h1 {
      letter-spacing: -1px;
      font-weight: normal;
      font-family: "Bangers", sans-serif;

      position: absolute;
      top: 16%;
      left: 40px;
      right: 50%;
      bottom: 0;
      text-align: left;

      font-size: 85pt;
      line-height: 99px;

      color: #DE2D64;

      background: -webkit-linear-gradient(180deg, #FF82A9, #E41052)
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    address {
      letter-spacing: -0.8px;

      font-family: 'Magra';
      font-style: initial;
      font-size: 20pt;
      
      .nickname {
        position: absolute;
        left: 42px;
        bottom: 48px;
        color: #E41052;
      }

      a.org {
        color: #6ea0b0;

        .i {
          color: #00548e;
        }

        position: absolute;
        bottom: 48px;
        left: 222px;
      }

      a {
        color: inherit;
        text-decoration: none;
        font-weight: bolder;

        &:hover {
          font-style: underline;
        }
      }
    }
  }

  &.smell {
    color: #FFF;
    font-family: "Josefin Slab", sans-serif;
  }

  &.conclusion {
    color: #DE2D64;
    padding-left: 250px;
    align-items: flex-start;

    h3.smell {
      position: absolute;
      top: 200px;
      left: 20px;
      width: 200px;

      font-family: "Josefin Slab";
      font-weight: normal;
      font-size: 30pt;
    }

    h2 {
      font-family: "Bangers", sans-serif;
      font-weight: normal;
      font-size: 80pt;
    }

    &:before {
      content: '\2192'
      color: #606060;

      position: absolute;
      left: 190px;
      top: 200px;
      font-size: 50pt;
      font-family: "Josefin Slab";
    }
  }

  &.usability {
    color: #DE2D64;

    h3 {
      margin: 0;

      font-family: "Josefin Slab";
      font-weight: normal;
      font-size: 30pt;
    }

    h2 {
      font-family: "Bangers", sans-serif;
      font-weight: normal;
      font-size: 120pt;
    }
  }

  &.your-build {
    color: #fff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  }

  &.who-cares {
    color: #fff;
    h2 {
      margin-bottom: 300px;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
  }

  &.pain-is-feedback {
    h2 {
      font-family: "Magra", sans-serif;
      font-weight: normal;
      font-size: 60pt;
    }

    h3 {
      margin: 0;

      font-family: "Josefin Slab";
      font-weight: normal;
      font-size: 30pt;
    }
  }

  &.conflict {
    & > * {
      color: #fff;
    }
  }

  &.isolation {
    h2 {
      margin-top: 350px;
      color: #fff;
    }
  }

  &.minutes-merging {
    color: #fff;
  }
}
