@import 'default'
@import 'prism/themes/prism-okaidia.css'

pink = #DE2D64;
blue = #3988D2;

@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: url("../static/bangers.eot");
  src: local('Bangers'),
       local('Bangers-Regular'),
       url("../static/bangers.woff2") format('woff2'),
       url("../static/bangers.woff") format('woff'),
       url("../static/bangers.ttf") format('truetype'),
       url("../static/bangers.eot") format('eot');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab'),
       local('JosefinSlab'),
       url("../static/josefin-slab.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}      

@font-face {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 400;
  src: local('Magra'),
       url("../static/magra-bold.ttf") format('truetype');
}      

body {
  font-family: "Magra", sans-serif;
}

h2 {
  font-size: 84pt;
  line-height: 85pt;
}

h3 {
  font-size: 30pt;
}

strong {
  color: pink;
  font-family: "Bangers", "Magra", sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
}

q {
  font-style: italic;
  white-space:nowrap;

  &:before, &:after {
    font-style: initial;
  }

  &:after {
    margin-left: 10px;
  }
}

article {
  background-size: cover;
  background-position: center;
  background-color: #fff;
  transition: none !important;

  &.roses {
    background-image: url("../static/roses.jpg");
  }

  &.cogs {
    background-image: url("../static/cogs.jpg");
  }
  
  &.engine {
    background-image: url("../static/engine.jpg");
  }

  &.cat {
    background-image: url("../static/cat.jpg");
  }

  &.coding {
    background-image: url("../static/coding.jpg");
  }

  &.conflict {
    background-image: url("../static/conflict.jpg");
  }

  &.isolation {
    background-image: url("../static/isolation.jpg");
  }

  &.branches {
    background-image: url("../static/branches.png");
  }

  &.share {
    background-image: url("../static/share.jpg");
  }

  &.switch {
    background-image: url("../static/switch.jpg");
    background-position: 30% center;
  }

  &.explosion {
    background-image: url("../static/explosion.jpg");
  }

  &.confidence {
    background-image: url("../static/confidence.jpg");
    background-position: top center;
  }

  &.liftoff {
    background-image: url("../static/liftoff.jpg");
  }

  &.half-half {
    background-color: pink;
    background-image: linear-gradient(90deg, blue 50%, pink 50%);
  }

  &.broken {
    background-image: url("../static/broken.jpg");
  }

  &.garden {
    background-image: url("../static/flowers.jpg");
  }

  &.white {
    background-color: #fff;
  }

  &.pink {
    background-color: pink;
  }
}

.bespoke-slide {
  background-color: rgba(255, 255, 255, 0);  
  transition: none;
  padding: 20px;

  aside {
      display: none;
  }
}

section {
  &.title {
    h1 {
      letter-spacing: -1px;
      font-weight: normal;
      font-family: "Bangers", sans-serif;

      position: absolute;
      top: 16%;
      left: 40px;
      right: 50%;
      bottom: 0;
      text-align: left;

      font-size: 85pt;
      line-height: 99px;

      color: pink;

      background: -webkit-linear-gradient(180deg, #FF82A9, #E41052)
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    address {
      letter-spacing: -0.8px;

      font-family: 'Magra';
      font-style: initial;
      font-size: 20pt;
      
      .nickname {
        position: absolute;
        left: 42px;
        bottom: 48px;
        color: #E41052;
      }

      a.org {
        color: #6ea0b0;

        .i {
          color: #00548e;
        }

        position: absolute;
        bottom: 48px;
        left: 222px;
      }

      a {
        color: inherit;
        text-decoration: none;
        font-weight: bolder;

        &:hover {
          font-style: underline;
        }
      }
    }
  }

  &.smell {
    color: #FFF;
    font-family: "Josefin Slab", sans-serif;
  }

  &.conclusion {
    color: pink;
    padding-left: 250px;
    align-items: flex-start;

    h3.smell {
      position: absolute;
      top: 200px;
      left: 20px;
      width: 200px;

      font-family: "Josefin Slab";
      font-weight: normal;
      font-size: 30pt;
    }

    h2 {
      font-family: "Bangers", sans-serif;
      font-weight: normal;
      font-size: 80pt;
      line-height: 80pt;
    }

    &:before {
      content: '\2192'

      position: absolute;
      left: 190px;
      top: 200px;
      font-size: 50pt;
      font-family: "Josefin Slab";
    }
  }

  &.usability {
    color: pink;

    h3 {
      margin: 0;

      font-family: "Josefin Slab";
      font-weight: normal;
    }

    h2 {
      font-family: "Bangers", sans-serif;
      font-weight: normal;
      font-size: 120pt;
    }
  }

  &.your-build {
    color: #fff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  }

  &.who-cares {
    color: #fff;
    h2 {
      margin-bottom: 300px;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
  }

  &.pain-is-feedback {
    h2 {
      font-family: "Magra", sans-serif;
      font-weight: normal;
      font-size: 60pt;
    }

    h3 {
      margin: 0;

      font-family: "Josefin Slab";
      font-weight: normal;
    }
  }

  &.conflict {
    color: #fff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }

  &.isolation {
    h2 {
      margin-top: 350px;
      color: #fff;
    }
  }

  &.branches {
    color: #fff;
    h2 {
      position: absolute;
      left: 55%;
      top: 30%;
      text-align: left;

      font-size: 50pt;
      line-height: 50pt;
    }
  }

  &.share-early, &.share-all, &.feature-flags {
    color: #fff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  }

  &.share-early {
    h2 {
      margin-top: 220px;
    }
  }

  &.feature-flags {
    h2 {
      text-align: left;
      position: absolute;
      left: 30%;
      top: 25%;
    }
  }

  &.just-push-it, &.run-it-again {
    h2 {
      color: #fff;
      font-size: 75pt;
      text-shadow: 0 0 20px #000;
    }
    
    img {
      height: 40%;
    }
  }

  &.confidence {
    color: #fff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  &.confidence-requires {
    padding: 0;
    h2 {
      font-size: 70pt;
      width: 100vw;
      height: 20vh;
    }
  }

  h2 {
    &.accuracy, &.thoroughness, &.speed, &.simplicity {
      font-size: 70pt;
      width: 100vw;
    }

    &.accuracy {
      background-color: blue;
      color: white;
    }

    &.thoroughness {
      background-color: white;
      color: pink;
    }

    &.speed {
      background-color: pink;
      color: white;
    }

    &.simplicity {
      background-color: white;
      color: blue;
    }
  }

  &.accuracy, &.simplicity {
    color: blue;
  }

  &.thoroughness, &.speed {
    color: pink;
  }

  &.releasing-is-value, &.release-sooner {
    h2 {
      color: #fff;
      font-size: 60pt;
      line-height: 60pt;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

      position: absolute;
      top: 30px;
      left: 34%;
      width: 80%;

      strong {
        position: relative;
        top: 7px;
      }
    }
  }

  &.github, &.etsy, &.netflix, &.facebook {
    img {
      height: 88px;
      margin-bottom: 100px;
    }

    h2 {
      font-size: 58pt;
      line-height: 58pt;
      
      strong {
        font-size: 90pt;
      }
    }
  }

  &.half-half {
    padding: 0;

    .left, .right {
      position: absolute;
      top: 0;
      bottom: 0;

      width: 50%;

      padding-top: 180px;
    }

    .left {
      left: 0;
      right: 50%;
      background-color: blue;
      color: #fff;
      text-align: right;
      padding-right: 20px;
    }

    .right {
      right: 0;
      left: 50%;
      background-color: pink;
      color: #fff;
      text-align: left;
      padding-left: 20px;
    }
  }

  &.if-it-hurts, &.lower-risk, &.make-it-easy {
    h2 {
      font-size: 60pt;
    }
  }

  &.lower-risk ul {
    color: blue;
  }

  &.make-it-easy ul {
    color: pink;
  }

  &.gardening {
    color: #fff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    h2 {
      strong {
        font-family: "Magra", sans-serif;
        color: white;
        font-size: 100pt;
      }
      margin-top: 150px;
      font-size: 60pt;
    }
  }

  &.how-to-improve {
    padding: 0;

    h2 {
      height: 33.4vh;
      font-size: 65pt;
      line-height: 65pt;
      width: 100vw;
      padding: 33px 10px 0;

      &.work-together {
        background-color: pink;
        color: white;
      }

      &.focus {
        background-color: white;
        color: pink;
      }

      &.measure {
        background-color: blue;
        color: white;
      }
    }
  }

  &.cumulative {
    h2 {
      font-size: 60pt;
    }

    h2.cumulative {
      font-family: "Bangers", sans-serif;
      font-size: 80pt;
      letter-spacing: 4px;
      color: pink;
    }
  }

  &.smells {
    h2 {
      width: 100%;
      height: 25vw;
      display: inline-block;
      font-size: 50pt;
      color: pink;
    }
  }
}

ul {
  margin: 30px 0;
  list-style: none;
  font-size: 25pt;

  li {
    margin 10px 0;

    &.bespoke-bullet-inactive {
      transform: initial;
      -webkit-transform: initial;
      transition: initial;

      opacity: 1;
      visibility: hidden;
    }
  }
}

blockquote {
  font-size: 30pt;

  p {
    font-style: italic;

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  cite {
    font-style: normal;

    margin-top: 10px;
    margin-left: 180px;
    display: inline-block;

    &::before {
      content: '\2014\00a0';
    }
  }
}
