doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Your Build Smells

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
    article
      section(data-bespoke-backdrop="roses").title
        h1 Your Build Smells

      section(data-bespoke-backdrop="cogs").your-build
        h2 Your build

      section(data-bespoke-backdrop="cat").who-cares
        h2 Who cares? 

      section(data-bespoke-backdrop="white").conclusion
        div(style='text-align: left')
          h3 It's about
          h2 USABILITY

      section(data-bespoke-backdrop="white").pain-is-feedback
        h2 Developer pain
        h3 is
        h2 User feedback

      section(data-bespoke-backdrop="pink").smell
        h2 PAINFUL MERGES

      section(data-bespoke-backdrop="white").conclusion
        h2 CONCLUSION

    script(src='build/build.js')
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
